COMPOSE_PROJECT_NAME=innerly-journal
# Backend
SERVER_NAME=localhost:8000
DB_URI=sqlite:///~/.innerly/database.db
CLIENT_ORIGIN_URL=http://localhost:3000
SIGNATURE_SECRET=<random bytes in base64>
SECRET_KEY=<Random string>