  html {
    --dm-text: rgb(29, 29, 29);
    --dm-muted: rgb(99, 99, 99);
    --well-blue: #cbf6ff;
    --well-yellow: #fff7d4;
    --well-green: #c8ffe1;
    --well-grey: #f5f5f5;
    --well-red: #ffdada;
    --bgeb: #fff;
    --naveb: #fff;
    --dark-button: rgb(250, 250, 250);
  }

  html[data-theme='dark'] {
    --dm-text: rgb(238, 238, 238);
    --dm-muted: rgb(201, 201, 201);
    --color-headings: #3694FF;
    --well-grey: #263859;
    --well-blue: #093146;
    /* --well-red: #6d213e; */
    /* --well-green: #093146; */
    /* --well-green: #4b986e; */
    /* --well-red: #b36161; */
    /* --well-green: #27a792; */
    /* --well-red: #ae2132; */
    --well-green: #0d7377;
    --well-red: #a64942;
    --well-yellow: #525100;
    --bgeb: #17223b;
    --naveb: #131b2e;

    --dark-button: #263859;
  }

  .btn-default {
    background-color: var(--dark-button);
    color: var(--dm-text);
  }

  #title, #about {
    /* background-color: var(--well-grey) !important; */
    color: var(--dm-text) !important;
    padding: 3%;
  }



  .active-eb, .btn-default:hover {
    background-color: var(--naveb);
    color: var(--dm-text);
  }

  .modal-content {
    background-color: var(--bgeb);
  }

  body {
    background-color: var(--bgeb);
  }

  hr {
    color: var(--dm-text);
  }

  .navbar {
    background-color: var(--naveb);
    border-color: transparent;

  }

  .form-control-inner {
    background-color: var(--well-grey);
    border-color: transparent;
  }

  .well {
    background-color: var(--well-grey);
    border-color: transparent;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--dm-text);
    font-weight: 400;
  }

    .tablelink {
    color: var(--dm-text);
  }


  div {
    border-color: transparent;
  }

  .table {
    color: var(--dm-text)
  }

  .text-muted {
      color: var(--dm-muted);
  }

  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }