/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

main {
  padding-top: 50px;
  padding-bottom: 20px;

  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;
  height: 60px;
}

/* Margin and padding
-------------------------------------------------- */
.lg-margin-bottom {
  margin-bottom: 60px;
}

.md-margin-bottom {
  margin-bottom: 40px;
}

.lg-margin-top {
  margin-top: 60px;
}

.md-margin-top {
  margin-top: 40px;
}

.sm-margin-top {
  margin-top: 20px;
}

/* Bootstrap overrides
-------------------------------------------------- */
label {
  font-weight: 400;
}

.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] {
  margin-left: 0;
}

.alert-small {
  padding: 5px;
  margin-bottom: 0;
}

.alert-error,
.alert-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-error hr,
.alert-message hr {
  border-top-color: #e4b9c0;
}

.alert-error .alert-link,
.alert-message .alert-link {
  color: #843534;
}

.col-header {
  height: 26px;
}

dd {
  margin-bottom: 8px;
}

legend {
  color: var(--dm-text);
}

/* Admin dashboard
-------------------------------------------------- */
#bulk_actions {
  display: none;
  padding-bottom: 8px;
}

#scope {
  margin-bottom: 0;
  width: 160px;
  height: 29px;
  font-weight: 400;
  font-size: 12px;
}

.sort:after {
  content: '\f0dc';
  font-family: FontAwesome;
  margin-left: 6px;
  color: #BBB;
}

.asc:after {
  content: '\f0dd';
  font-family: FontAwesome;
  margin-left: 6px;
  color: rgb(0, 0, 0);
}

.desc:after {
  content: '\f0de';
  font-family: FontAwesome;
  margin-left: 6px;
  color: rgb(0, 0, 0);
}

/* Write specific */

@media screen and (max-width: 767px) {
  #session-details {
    /* width: 100%; */
    padding-top: 15px !important;
  }
}

#writeto {
  width: 97%;
  height: 100%;
  /* color: black; */
  color: var(--dm-text) !important;
  resize: none;
  background-color: transparent;
  padding: 12px;
  outline: none !important;
  border: none;
  box-shadow: none;
  font-size: 18px !important;
}

.writeto-display {
  width: 97%;
  background-color: transparent;
  overflow: hidden;
  color: var(--dm-text);
  /* padding: 12px; */
  padding-top: 12px;
  padding-bottom: 2px;
  font-size: 20px !important;
  /* border: 3px solid #001F27; */
  margin: auto;
  /* Firefox 1-3.6 */
  border-bottom: 1px solid var(--dm-text) !important;
}

/* View specific */

.badge {
  font-size: medium;
  margin: 8px;
  border-radius: 5px;
}

.toggleFormOn {
  display: none;
}

#emotion-circle {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  background-color: #66CAE2;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.emotion-center {
  position: relative;
  top: 35px;
  /* 25% of parent */
  font-size: 25px;
  /* 50% of parent */
  line-height: 25px;
  /* 50% of parent */
  color: #263859;
  font-weight: bold;
}

#emotion-label {
  position: relative;
  top: 15px;
  /* 25% of parent */
  font-size: 18px;
  /* 50% of parent */
  line-height: 25px;
  /* 50% of parent */
  color: #263859;
  font-weight: bold;
}

#viewTitle {
  border-color: transparent;
  box-shadow: none;
  border-bottom: rgba(0, 0, 0, 0.988);
  margin-bottom: 15px;
  width: 100%;
  font-size: 25px;
  color: var(--dm-text);
  min-height: 40px !important;
}

.avatar-circle {
  margin-top: -8px;
  margin-right: 50px;
  width: 40px;
  height: 40px;
  background-color: #66cae2;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%
}

.avatar-circle:hover {
  background-color: #397b8c !important
}

.initials {
  position: relative;
  top: 10px !important;
  font-size: 20px !important;
  line-height: 20px !important;
  color: #fff;
  font-weight: 700
}

.custom-letter-box:hover {
  background-color: transparent !important
}

html {
  --dm-next: rgb(190, 190, 190);
  --dm-next-opacity: 0.45
}

html[data-theme=dark] {
  --dm-next: rgb(30, 30, 30);
  --dm-next-opacity: 0.85
}

@media screen and (max-width:767px) {
  .nextBtn {
    margin-right: -12px !important
  }

  .prevBtn {
    margin-left: -12px !important
  }

  .container {
    padding: 4px
  }

  #innerlyModal {
    margin-left: 0 !important;
    width: 120px !important;
    height: 61px !important
  }

  #dmToggleModal {
    margin-right: 5px;
    margin-bottom: 0
  }

  .row.content {
    height: auto;
    margin-left: 0;
    margin-right: 0
  }

  .row {
    margin-left: -7px;
    margin-right: -7px
  }

  .col-col-sm-6,
  .col-sm-3,
  .col-sm-8,
  .col-xs-4 {
    margin-left: 0;
    padding: 4px;
    margin-right: 0
  }

  .owell {
    margin-bottom: 0;
    padding-bottom: 0
  }

  .swell {
    padding: 4px;
    margin: 4px;
    min-height: 150px !important;
  }

  .swell>.pretty-btn {
    padding-left: 6px
  }

  .datelabel {
    text-align: left;
    margin-left: -20px;
    margin-top: 0;
    margin-bottom: 4px;
    padding: 0;
    white-space: pre;
    font-weight: 400;
    background-color: none !important
  }

  #unitTitle {
    margin-top: 0
  }

  .swellLabel {
    margin-top: 0 !important;
    display: block;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    font-size: x-large;
    color: var(--dm-muted);
    opacity: .35
  }

  #unitTopics {
    width: 75% !important
  }

  .instructionimg {
    width: 90vw
  }
}

#progressbar {
  width: 100%;
  margin-top: 17px;
  background-color: var(--dm-text);
  padding: 0px;
  bottom: 0;
}

a:hover {
  text-decoration: none
}

.owell {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.expand-btn {
  color: #050505;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  margin-bottom: 8px !important;
  margin-top: 2px !important;
  margin-left: 15px;
}

select {
  background-color: #0498bf;
  border: 1px #0498bf solid;
  font-weight: 400;
  color: #fff;
  height: 24px !important;
  padding-left: 8px !important;
  border-radius: 16px !important;
  font-size: medium !important;
}

select:disabled {
  background-color: #397b8c
}

.swell {
  display: block;
  background-color: var(--well-grey);
  border: 2px solid #64bee4 !important;
  border-radius: 6px;
  min-height: 250px;
  margin: 0;
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px
}

.enlarge {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05)
}

.pretty-btn {
  min-height: 50% !important;
  width: 100%;
  color: var(--dm-text);
  margin: auto;
  background-color: inherit
}

.pretty-btn:hover {
  color: var(--dm-text);
  background-color: var(--naveb)
}

.uploadLink {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #64bee4;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  color: #636363
}

.uploadLink:focus {
  outline: 0;
  border: solid 3px #64bee4
}

input[type=file] {
  display: none
}

.inputBtn {
  margin-bottom: 15px
}

.upButton {
  background-color: #64bee4
}

.upButton:hover {
  background-color: #4d96b5
}

.deactivated {
  opacity: .25;
  cursor: default !important;
  background-color: inherit
}

.deactivated:hover {
  background-color: inherit
}

.delButton {
  background-color: #a40f0f;
  border: 1px solid var(--dm-text);
  color: #fff;
  height: 30px;
  width: 30px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  top: 0;
  float: right;
  right: 0;
  margin-top: -9px;
  margin-right: -9px;
  display: none;
  z-index: 10;
  position: relative
}

.swell>.imgForm,
.swell>.imgForm>.inputBtn,
.swell>.imgForm>.upButton,
.swell>.pretty-btn,
.swell>.uploadLink {
  display: none;
}

.swell>.uploadLink:focus {
  display: block
}

.swell:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05)
}

.swell:hover>.delButton,
.swell:hover>.imgForm,
.swell:hover>.imgForm>.inputBtn,
.swell:hover>.imgForm>.upButton,
.swell:hover>.mediaLabel,
.swell:hover>.pretty-btn,
.swell:hover>.uploadLink {
  display: block
}

.swell:hover>.swellLabel {
  display: none
}

.todayblank {
  border: 4px solid #ffd942
}

.viewable>.pretty-btn,
.viewable>.uploadLink {
  display: block
}

.viewable>.swellLabel {
  display: none
}

.c_button {
  background-color: var(--well-grey);
  border: 1px solid var(--dm-text);
  border-radius: 4px;
  color: var(--dm-text)
}

.c_button:hover {
  background-color: var(--naveb)
}

.item {
  display: none
}

.item .active {
  display: block
}

.input-group-addon:hover {
  background-color: #64bee4 !important
}

.input-group-addon:active {
  background-color: #4d96b5 !important
}

#unitTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 9px;
  margin-bottom: 12px !important
}

#unitSnip {
  overflow: hidden;
  height: 60%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical
}

#unitTopics {
  color: inherit;
  width: 75%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: var(--dm-text);
  position: absolute;
  bottom: 15px
}

.mediaLabel {
  width: 100%;
  height: 40px;
  background-color: #000;
  opacity: .9;
  position: absolute;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  color: #e6e6e6;
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer
}

.mediaLabel:hover {
  background-color: #282828
}

.mediaLabel:active {
  background-color: #727272;
  outline: 0
}

.mediaBottom {
  bottom: 0 !important
}

.enlarge>.mediaLabel {
  display: block
}

a:hover {
  color: #fff
}

.modal {
  display: none;
  position: fixed;
  z-index: 1006 !important;
  padding-top: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .4)
}

.modal-content {
  z-index: 1007 !important;
  padding: 0;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: .4s;
  animation-name: animatetop;
  animation-duration: .4s;
  display: block;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  height: 100%;
  text-align: center;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

.closemodal {
  color: #fff;
  float: right;
  font-size: 32px;
  font-weight: 700;
  margin-right: 12px
}

.closemodal:focus,
.closemodal:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--well-grey);
  color: #fff
}

.modal-body {
  padding: 2px 16px
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #fff
}

#lightbox {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, .8);
  text-align: center
}

#lightbox:target {
  display: block
}

#lightbox span {
  display: block;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  height: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

li {
  font-size: small;
}

ul {
  margin-top: 10px;
}

.modal-backdrop {
  opacity: .5 !important;
}


/* Settings page */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  color: var(--dm-text);
}

#swtichlabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

#swtichlabel:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked+label {
  background: var(--color-headings);
}

#switch:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#swtichlabel:active:after {
  width: 45px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-user-select: none; 
  -webkit-app-region: drag;
}

.drag {
  -webkit-user-select: none; 
  -webkit-app-region: drag;
}

.nondrag {
  -webkit-app-region: no-drag;
}

input {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

a {
  -webkit-app-region: no-drag;
}