
@media screen and (max-width: 767px) {
    #session-details {
        /* width: 100%; */
        padding-top: 15px !important;
    }
} 

#writeto {
    width: 97%;
height: 100%;
/* color: black; */
color: var(--dm-text) !important;
resize: none;
background-color: transparent;
padding: 12px;
outline: none !important;
border: none;
box-shadow: none;
font-size: 18px !important;
}

.writeto-display {
    width: 97%;
background-color: transparent;
overflow: hidden;
color: var(--dm-text);
/* padding: 12px; */
padding-top: 12px;
padding-bottom: 2px;
font-size: 20px !important;
/* border: 3px solid #001F27; */
margin: auto;
/* Firefox 1-3.6 */
border-bottom: 1px solid var(--dm-text) !important;
}
